$grid-gutter-width: 20px; // change the gutter width to 20px
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Override the make-row mixin
@mixin make-row($gutter: $grid-gutter-width) {
  --#{$prefix}gutter-x: #{$gutter};
  --#{$prefix}gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--#{$prefix}gutter-y));
  margin-right: calc(-.5 * var(--#{$prefix}gutter-x));
  margin-left: 1px; // override the margin-left style
}
