/* You can add global styles to this file, and also import other style files */
.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.font-blackops {
  font-family: "Black Ops One", cursive;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-righteous {
  font-family: 'Righteous', cursive;
}
.font-audiowide {
  font-family: 'Audiowide', cursive;
}
.font-rajdhani {
  font-family: 'Rajdhani', sans-serif;
}
.font-size-3 {
  font-size: 4rem;
}
.font-size-4 {
  font-size: 3.5rem;
}
.font-size-5 {
  font-size: 3rem;
}
.font-size-6 {
  font-size: 2.5rem;
}
.font-size-7 {
  font-size: 2rem;
}
.font-size-8 {
  font-size: 1.5rem;
}


.bg-night {
  background-color: #131315;
}

.bg-whitepowder {
  color: #f0f4ef;
}

.bg-wenge {
  background-color: #a89fa6;
}
.bg-grey-light {
  background-color: #747682;
}
.bg-grey-dark {
  background-color: #2c3434;
}
.bg-blue-dark {
  background-color: #1c2c33;
}
.bg-feldgrau {
  background-color: #546363;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Audiowide', cursive;
}

.text-night {
  color: #131315;
}
.text-whitepowder {
  color: #f0f4ef;
}
.text-platinum {
  color: #d1dede;
}
.text-grey-light {
  color: #747682;
}
.text-grey-lightplus {
  color: #a1afbd;
}
.text-grey-dark {
  color: #2c3434;
}
.text-blue-dark {
  color: #1c2c33;
}
.text-cyan {
  color: #01baef;
}
.text-neongreen {
  color: #c2f970;
}

.row-fullscreen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


