<div
  class="container-fluid bg-night d-flex justify-content-center align-items-top"
>
  <div class="text-center">
    <div class="row row-fullscreen text-platinum">
      <div class="col-0 col-md-1"></div>
      <div class="col">
        <h3 class="font-ubuntu" style="text-align: center">
          Hey, you made it!<br /><br />
          Take some time to breathe, and let's enter the spaceship
          <br /><br />
          Your place amongst the stars awaits you.
        </h3>
      </div>

      <div class="col-0 col-md-1"></div>
    </div>

    <div class="row row-fullscreen">
      <div class="col-0 col-md-2"></div>

      <div class="col m-2 pt-4 pb-4">
        <h1 class="text-whitepowder font-size-5">Jihad Ftouny</h1>
        <hr style="color: cyan" />

        <div class="row text-platinum">
          <h2>AI/ML Engineer</h2>
          <h2>Data Scientist</h2>
          <h2>Game Developer</h2>
          <h2>Web Developer</h2>
        </div>
      </div>

      <div class="col-0 col-md-2"></div>
    </div>
    <div class="container">
      <div class="row row-fullscreen justify-content-center align-items-center">
        <div class="col-12 mb-5 mb-sm-5 mb-md-0 col-md-8 text-center">
          <h1 class="text-whitepowder font-size-4">PROJECTS</h1>
        </div>

        <div class="row pb-5 pb-md-0 justify-content-center align-items-center">
          <h1 class="text-whitepowder font-size-5">GAMES</h1>
          <div class="col-md-6">
            <h1 class="text-platinum">Elvish Rootings</h1>
            <div class="image-container">
              <img
                src="../../assets/images/projects/elvish-rootings.jpg"
                class="img-fluid rounded-1"
              />
              <a
                href="https://bramevet.itch.io/elvish-rootings"
                target="_blank"
                rel="noopener noreferrer"
                class="image-overlay"
                >Play on Browser</a
              >
            </div>
          </div>
          <div class="col-md-6">
            <h1 class="text-platinum">The Void</h1>
            <div class="image-container">
              <img
                src="../../assets/images/projects/the-void.jpg"
                class="img-fluid rounded-1"
              />
              <a
                href="https://bramevet.itch.io/the-void"
                target="_blank"
                rel="noopener noreferrer"
                class="image-overlay"
              >
                Access Page
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-fullscreen justify-content-center align-items-center">
        <h1 class="text-whitepowder font-size-5">FULLSTACK WEB</h1>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-platinum">ABZ E-Shop</h1>
          <div class="image-container">
            <img
              src="../../assets/images/projects/abz-flowers.jpg"
              class="img-fluid rounded-1"
            />
            <a
              href="http://abzflowers.s3-website.eu-north-1.amazonaws.com/home"
              target="_blank"
              rel="noopener noreferrer"
              class="image-overlay image-overlay-alt"
            >
              Access Page
            </a>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div
        class="row row-fullscreen pt-5 mt-5 justify-content-center align-items-center"
      >
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="image-container-pfp"></div>
          <h1 class="text-whitepowder mt-4 mb-5 font-size-5">ABOUT</h1>
        </div>
        <div class="col-md-3"></div>
        <h1 class="text-platinum mt-5 mb-4">AI & ML</h1>
        <div class="row mb-5">
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/python.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Python
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/deeplearning.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Deep Learning
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/compvision.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Comp. Vision
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/nlp.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  NLP
                </p>
              </div>
            </div>
          </div>
        </div>
        <h1 class="text-platinum mt-5 mb-4">Game Dev.</h1>
        <div class="row mb-5">
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/unity.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Unity
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/chsarp.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  C#
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/rpg-maker.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  RPG Maker
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/tfs.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  TFS
                </p>
              </div>
            </div>
          </div>
        </div>
        <h1 class="text-platinum mt-5 mb-4">Web Stack</h1>
        <div class="row mb-sm-0 mb-lg-5">
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/mongo.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  MongoDB
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/express.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Express
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/angular.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Angular
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/node.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  NodeJs
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/js.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  JavaScript
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/ts.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  TypeScript
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/bootstrap.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Bootstrap
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/css.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  CSS
                </p>
              </div>
            </div>
          </div>
        </div>

        <h1 class="text-platinum mt-5 mb-4">Extras</h1>
        <div class="row mb-sm-0 mb-lg-5">
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/adaptivethinker.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Adaptive
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/rapidlearner.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Adept
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/git.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Git
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/linux.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Linux
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/java.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Java
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/figma.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Figma
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/ps.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Photoshop
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div
              class="card border-0 mx-auto"
              style="background-color: transparent"
            >
              <img
                src="../../assets/images/skills/ableton.png"
                class="logo-skill mx-auto d-block"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-whitepowder font-ubuntu font-size-7">
                  Ableton
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row row-fullscreen justify-content-center align-items-left text-start"
      >
        <div class="col-md-8">
          <p class="font-rajdhani text-cyan font-size-6 text-start">
            Hi, I'm Jihad Ftouny.
          </p>
          <p class="font-rajdhani text-whitepowder font-size-7">
            Now that's what I call a perfect landing! Brush that dust off and
            welcome to my homeplanet, where we will develop Games, Websites and
            automated solutions for you!
            <br /><br />
            Our engineers are almost finishing the implementation of this
            technology called "Artificial Intelligence", humans are adapting
            well over it.
            <br /><br />
            Like our little planet? Contact us through LinkedIn or by Email!
            Make sure to explore the GitHub forest to the north! However, do not
            go too far away beyond the ice deserts, but if you really feel like
            you must, I wish you a good journey.
          </p>
        </div>
        <div class="col-md-4">
          <p class="font-rajdhani text-cyan font-size-6 text-start">
            AI/ML Engineer<br />
            Data Scientist<br />
            Game Developer<br />
            Web Developer<br />
          </p>
        </div>
      </div>

      <div class="row justify-content-center align-items-center pb-5 my-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-whitepowder mt-4 font-size-4">CONTACT</h1>
          <a
            href="https://www.linkedin.com/in/jihad-ftouny/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../../assets/images/contact/icon-linkedin.png"
              class="img-fluid"
            />
          </a>
          <a
            href="https://github.com/jihadftouny"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../../assets/images/contact/icon-github.png"
              class="img-fluid"
            />
          </a>
          <a
            href="mailto:jihad.santosb@hotmail.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="../../assets/images/contact/icon-mail.png"
              class="img-fluid"
            />
          </a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
