<div
  class="container-fluid bg-night d-flex justify-content-center align-items-top"
>
  <div class="container text-center ms-4 ms-md-auto">
    <div class="row row-fullscreen text-platinum">
      <div class="col-0 col-md-1"></div>
      <div class="col">
        <h5
          class="font-ubuntu"
          style="text-align: center; max-width: 80%; margin: 0 auto"
        >
          Hey, you made it here! Feel free to rest by the campfire.<br /><br />
          The battlefield has settled and it's time to let no resource go to
          waste, be ready to get back to your spaceship.<br /><br />
          <br />
          <br />
          <br />
          Your place amongst the stars awaits you.
        </h5>
      </div>

      <div class="col-0 col-md-1"></div>
    </div>

    <div class="row row-fullscreen">
      <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>

      <div class="col m-2 pt-4 pb-4">
        <h1 class="text-whitepowder">Jihad Ftouny</h1>

        <div class="row text-platinum">
          <h4>Machine Learning Student</h4>
          <h4>Game Developer</h4>
          <h4>Web Developer</h4>
        </div>
      </div>

      <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
    </div>

    <div class="container">
      <div class="row row-fullscreen justify-content-center align-items-center">
        <div class="col-md-8 text-center">
          <h1 class="text-whitepowder">PROJECTS</h1>
        </div>
      </div>

      <div
        class="row row-fullscreen pb-5 pb-md-0 justify-content-center align-items-center"
      >
        <h1 class="text-whitepowder">GAMES</h1>
        <div class="col-md-6">
          <h3 class="text-platinum">Elvish Rootings</h3>
          <div class="image-container">
            <img
              src="../../assets/images/elvish-rootings.jpg"
              class="img-fluid rounded-1"
            />
            <a href="https://jihanger.itch.io/elvish-rootings" target="_blank" rel="noopener noreferrer" class="image-overlay">Play on Browser</a>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-platinum">The Void</h3>
          <div class="image-container">
            <img
              src="../../assets/images/the-void.jpg"
              class="img-fluid rounded-1"
            />
            <a href="https://jihanger.itch.io/the-void" target="_blank" rel="noopener noreferrer" class="image-overlay"> Access Page </a>
          </div>
        </div>
      </div>

      <div class="row row-fullscreen justify-content-center align-items-center">
        <h1 class="text-whitepowder">FULLSTACK WEB</h1>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h3 class="text-platinum">ABZ E-Shop</h3>
          <div class="image-container">
            <img
              src="../../assets/images/abz-flowers.jpg"
              class="img-fluid rounded-1"
            />
            <a class="image-overlay">COMING SOON</a>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row row-fullscreen justify-content-center align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="image-container-pfp"></div>
          <h1 class="text-whitepowder mt-4">ABOUT</h1>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div
        class="row row-fullscreen justify-content-center align-items-left text-start"
      >
        <div class="col-md-8">
          <p class="font-rajdhani text-cyan font-size-6 text-start">
            Hi, I'm Jihad Ftouny.
          </p>
          <p class="font-rajdhani text-whitepowder font-size-8">
            I hope you landed safely. Brush that dust off and welcome to my
            homeplanet, where we develop Games and Websites! <br />
            <br />
            Our engineers are currently learning this human technology called
            "Artificial Intelligence", humans are going crazy over it.
          </p>
        </div>
        <div class="col-md-4">
          <p class="font-rajdhani text-cyan font-size-6 text-start">
            Game Dev.<br />
            Web Dev.<br />
            Machine Learning
          </p>
        </div>
      </div>


      <div class="row justify-content-center align-items-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 class="text-whitepowder mt-4">CONTACT</h1>
          <a href="https://www.linkedin.com/in/jihad-ftouny/" target="_blank" rel="noopener noreferrer">
            <img
              src="../../assets/images/icon-linkedin.png"
              class="img-fluid"
            />
          </a>
          <a href="https://github.com/jihadftouny" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/icon-github.png" class="img-fluid" />
          </a>
          <a href="mailto:jihad.santosb@hotmail.com" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/images/icon-mail.png" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-3"></div>
      </div>

    </div>
  </div>
</div>
