.container-fluid {
  min-height: 100vh;
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;

  color: #d1dede;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .image-overlay {
  visibility: visible;
  opacity: 1;
}

a.image-overlay {
  color: #f0f4ef;
  font-family: "Black Ops One", cursive;
  text-shadow: 0 0 24px #01baef;
  font-size: 4em;
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;
}

a.image-overlay:hover {
  opacity: 0.8;
}



.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, filter 0.1s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.03);
  box-shadow: 0 0 20px #01baef;
  filter: blur(0.1rem);
}



.image-container-pfp {
  background: url(../../assets/images/jihad-ftouny.png) center center no-repeat;
  background-size: contain;

  height: 50vh;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  transform-origin: center center;
}

.image-container-pfp:hover {
  background-image: url("../../assets/images/jihad-ftouny-hover.png");
  transform: scale(1.03);
}

.custom-download-link {
  color: #01baef;
  text-decoration: none;
}

.custom-download-link:hover {
  color: #0095bf;
  text-decoration: none;
}

.sound-btn {
  color:white;
  width: 36px;
  height: 36px;
  font-size: 34px;
  background-image: url("../../assets/images/sound/sound-muted.png");
  background-size: contain;
  transform: transform ease-in-out;
}

.sound-btn.playing {
  background-image: url("../../assets/images/sound/sound-playing.png");
}
